@using FLS.LocalWiki.Models.Entities
@model  FLS.LocalWiki.Models.DbFacade 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Local Wiki</title>
</head>
<body> 
    <p> 
    @if(Model.CurrentPage > 1)
    {
        <a href="/Home/Previous/?cur=@Model.CurrentPage&by=@Model.PageBy"><-previous page </a>  
    }
    @if (Model.CurrentPage < Model.TotalPages) 
    {
        <a href="/Home/Next/?cur=@Model.CurrentPage&by=@Model.PageBy">next page-></a> 
    }
    </p>
    <div>
            @{
   List<SelectListItem> listItems= new List<SelectListItem>(3);
   listItems.Add(new SelectListItem
        {
          Text = "1",
          Value = "1"
        });
   listItems.Add(new SelectListItem
        {
            Text = "2",
            Value = "2",
            Selected = true
        });
   listItems.Add(new SelectListItem
        {
            Text = "3",
            Value = "3"
        });
}


        <h3>Page #@Model.CurrentPage of @Model.TotalPages, paged by @Html.DropDownListFor(model => model.PageBy, listItems) </h3>
        <table>
            <tr><td><p>Title</p></td>
                <td>
                    <p>Author</p></td>
                <td><p>E-mail</p></td>
                <td></td>
            </tr>
            @foreach (Article article in Model.AllArticles)
            {
            <tr>
                <td><p>@article.Title</p></td>
                <td>
                    <p>@article.Author.FirstName @article.Author.LastName</p></td>
                    <td><p>@article.Author.Email</p></td>
                <td><p><a href="/Home/ReadArticle/@article.Id">Read the full text</a></p></td>
            </tr>
            }
        </table>     
       </div>
</body>
</html>
