@using System.Web.UI.WebControls
@using FLS.LocalWiki.Models.Entities;
@using PagedList;
@using PagedList.Mvc;
@model  FLS.LocalWiki.WebApplication.Models.HomeViewModel
@{
    Layout = null;
}
<link href="@Url.Content("/Content/PagedList.css")" rel="stylesheet"

          type="text/css" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Local Wiki</title>
</head>
<body> 
    <p>
    @{
        
    }
    </p>
<div>

    Page size:
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        @Html.DropDownList("pageBy", Model.ItemsforPagingBy, new {onchange = "this.form.submit();"})
    }


    <div style="text-align: left;">

        @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
        {
            @*<a href="/Home/Index/pageBy_@Model.PageInfo.PageBy#@i"> @i  page| </a>*@
            @Html.ActionLink(i + " page| ", "Index", "Home", new {pageBy = Model.PageInfo.PageBy, currentPage = i}, null);
        }


    </div>

    <h3>Page:<br>
        #@Model.PageInfo.CurrentPage of @Model.PageInfo.TotalPages<br>


    </h3>

    <table>
        <tr><td>
                <p>Title</p></td>
            <td>
                <p>Author</p></td>
            <td>
                <p>E-mail</p></td>
            <td></td>
        </tr>
        @foreach (Article article in Model.Facade.AllArticles)
            {
                <tr>
                    <td>
                        <p>@article.Title</p></td>
                    <td>
                        <p>@article.Author.FirstName @article.Author.LastName</p></td>
                    <td>
                        <p>@article.Author.Email</p></td>
                    <td>@Html.ActionLink("Read the full text", "ReadArticle", "Home", new {id = @article.Id}, null)</td>
                </tr>
            }

    </table>
</div>
    
</body>
</html>
