@using FLS.LocalWiki.Models.Entities;
@model  FLS.LocalWiki.WebApplication.Models.HomeViewModel

@{
    Layout = "~/Views/_InitialLayout.cshtml";
}

        Page size:

        @using (Html.BeginRouteForm("Initial", FormMethod.Post))
        {
            @Html.DropDownList("pageBy", Model.ItemsforPagingBy, new { onchange = "this.form.submit();" })
        }

        <div style="text-align: left;">

            @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
            {
                if (i != Model.PageInfo.CurrentPage)
                {
                @Html.ActionLink(i + " page| ", "Index", "Home", new { pageBy = Model.PageInfo.PageBy, currentPage = i }, null)
            }
            else
            {
                @Html.Label(i + " page| ")
            }
        }
        </div>

        <h3>Page:<br>
            #@Model.PageInfo.CurrentPage of @Model.PageInfo.TotalPages<br>
        </h3>

        <table>
            <tr>
                <td>
                    <p>Title</p>
                </td>
                <td>
                    <p>Author</p>
                </td>
                <td>
                    <p>E-mail</p>
                </td>
                <td></td>
            </tr>
            @foreach (Article article in Model.Facade.AllArticles)
            {
                <tr>
                    <td>
                        <p>@article.Title</p>
                    </td>
                    <td>
                        <p>@article.Author.FirstName @article.Author.LastName</p>
                    </td>
                    <td>
                        <p>@article.Author.Email</p>
                    </td>
                    <td>@Html.ActionLink("Read the full text", "ReadArticle", "Home", new { id = @article.Id }, null)</td>
                </tr>
        }

        </table>