@using FLS.LocalWiki.Models.Entities
@model IEnumerable<Article>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Local Wiki</title>
</head>
<body> 
    <div>
        <h3>Articles</h3>
        <table>
            <tr><td><p>Title</p></td>
                <td>
                    <p>Author</p></td>
                <td><p>E-mail</p></td>
                <td></td>
            </tr>
            @foreach (var article in Model)
            {
            <tr>
                <td><p>@article.Title</p></td>
                <td>
                    <p>@article.Author.FirstName @article.Author.LastName</p></td>
                    <td><p>@article.Author.Email</p></td>
                 <!-- <td><p>@article.</p></td> -->
                <td><p><a href="/Home/ReadArticle/@article.Id">Read the full text</a></p></td>
            </tr>
            }
        </table>
    </div>
</body>
</html>
