@using FLS.LocalWiki.Models.Entities
@model  FLS.LocalWiki.Models.DbFacade 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Local Wiki</title>
</head>
<body> 
    <div>
        <h3>Page #@Model.CurrentPage of @Model.TotalPages, paged by @Model.PageBy</h3>
        <table>
            <tr><td><p>Title</p></td>
                <td>
                    <p>Author</p></td>
                <td><p>E-mail</p></td>
                <td></td>
            </tr>
            @foreach (Article article in Model.AllArticles)
            {
            <tr>
                <td><p>@article.Title</p></td>
                <td>
                    <p>@article.Author.FirstName @article.Author.LastName</p></td>
                    <td><p>@article.Author.Email</p></td>
                <td><p><a href="/Home/ReadArticle/@article.Id">Read the full text</a></p></td>
            </tr>
            }
        </table>        
        <p> <a href="/Home/Previous/?cur=@Model.CurrentPage&by=2"> <-previous page</a>      <a href="/Home/Next/?cur=@Model.CurrentPage&by=2">next page-></a></p>
       </div>
</body>
</html>
