@using FLS.LocalWiki.Models.Entities
@model  FLS.LocalWiki.Models.Interfaces.IFacade
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Local Wiki</title>
</head>
<body> 
    <p> 
    @if(Model.CurrentPage > 1)
    {
        @Html.ActionLink("<-previous page", "Previous", "Home", new { cur = @Model.CurrentPage, by = @Model.PageBy}, null)  
    }
    @if (Model.CurrentPage < Model.TotalPages) 
    {
        @Html.ActionLink("next page->", "Next", "Home", new { cur = @Model.CurrentPage, by = @Model.PageBy}, null)
    }
    </p>
    <div>
            @{
                var listItems = new List<SelectListItem>(3)
                    {
                        new SelectListItem
                        {
                            Text = "1",
                            Value = "1"
                        },
                        new SelectListItem
                        {
                            Text = "2",
                            Value = "2"
                        },
                        new SelectListItem
                        {
                            Text = "3",
                            Value = "3"
                        }
                    };
}

        <h3>Page:<br>
        #@Model.CurrentPage of @Model.TotalPages<br>
        Page size:
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            @Html.DropDownList("pageBy", listItems, new { onchange = "this.form.submit();" })  
        }
        </h3>

        <table>
            <tr><td><p>Title</p></td>
                <td>
                    <p>Author</p></td>
                <td><p>E-mail</p></td>
                <td></td>
            </tr>
            @foreach (Article article in Model.AllArticles)
            {
            <tr>
                <td><p>@article.Title</p></td>
                <td>
                    <p>@article.Author.FirstName @article.Author.LastName</p></td>
                <td><p>@article.Author.Email</p></td>
                <td>@Html.ActionLink("Read the full text", "ReadArticle", "Home", new { id = @article.Id }, null)</td>
            </tr>
            }
        </table>
       </div>
</body>
</html>
