@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Чтение статей</title>
</head>
<body>
<div>
    <p>@ViewBag.Title</p>
    <p>@ViewBag.Author</p>
    <p>@ViewBag.Text</p>
    <table> @foreach (var comment in ViewBag.Comments)
            {
                <tr>
                    <td>
                        <p>@comment</p></td>
                </tr>
            }
        <p>Average rating: @ViewBag.AverageRating</p>
    </table>
</div>
</body>
</html>
