@using FLS.LocalWiki.Models.Entities
@model Article
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reading Articles</title>
</head>
<body>
<div>
    <p>@Model.Title</p>
    <p>@Model.Author.FirstName @Model.Author.LastName</p>
    <p>@Model.Text</p>
    <p>Average rating: @Model.AverageRating</p>
    <table> @foreach (var comment in Model.Comments)
            {
                <tr>
                    <td>
                        <p>@comment</p></td>
                </tr>
            }
        </table>
    <table> @foreach (var rating in Model.Ratings)
            {
                <tr>
                    <td>
                        <p>@rating</p></td>
                </tr>
            }
        </table>
</div>
</body>
</html>
